button:focus {outline:0;}

.content{
  background-image: url('../images/content_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
}
.content h3{
  color: white;
  font-family: robotoRegular;
  letter-spacing: 0.3em;
  font-size: 9vh;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.modal-wrapper{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  display: none;
}
.modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
  overflow: auto;
  margin: 0px 15px;
  background: rgba(0,0,0,0.5);
  padding-top: 15px;
  height: 100%;
  padding-bottom: 10px;
  padding-right: 3%;
  padding-left: 3%;
}
.modal > div{
  flex-grow: 1;
  height: 100%;
  width: 100%;
  flex: 1 1 30%;
}
#modalMusic .modal{
  -ms-align-items: flex-start;
  align-items: flex-start;
}
#modalImages .modal img{
  margin: 10px;
}
.modal img:last-child{
  margin-bottom: 100px !important;
}
.modal .music-item:last-child{
  margin-bottom: 120px !important;
}
.about-text{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: §center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.content-wrapper{
  margin-top: 55px;
}
.about-img{
  margin-left: -22px;
}
.info-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.info{
  margin-top: 7%;
  width: 910px;
}
.info-photos{
  margin-top: 50px;
}
.about-img img{
  height: 420px;
}
.about-text h2{
  font-size: 38px;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 25px;
}
.about-text p{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  font-family: robotoRegular;
  color: black;
  line-height: 1.8;
}
#modalMusic .modal{
  background: white;
  margin-top: 10px;
}
#modalMusic .music-item{
  min-width: 240px;
}
.header a{
  text-decoration: none;
  color: inherit;
}
.info-about{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.footer-links{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-links-items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  right: 3vw;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.footer-links img{
  height: 25px;
  cursor: pointer;
  margin: 5px;
}

.info-about div:last-child{
  margin-right: 0;
}
.photos-grid{
  display: grid;
   width: 100%;
   margin: 0 auto;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 100%);
   grid-gap: 15px;
   margin-bottom: 275px;
}
.images-more{
  margin-bottom: 50px;
}
.footer-items a{
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.about-text-title h2{
  margin-bottom: 15px;
}
.photos-grid div {
  color: white;
  font-size: 20px;
  padding: 13%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photos-grid div{
  cursor: pointer;
}
.photos-grid div a{
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;


  width: calc(100% + 40px);
  margin-left: -20px;
}
.lb-dataContainer{
  display: none !important;
}
.lightbox{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.item-1 {
  background-image: url('../images/info_1.png');
  grid-column: 1 / span 1;
  grid-row: span 2;
}
.item-2 {
  background-image: url('../images/info_2.png');
  grid-column: 2 / span 1;
  grid-row: span 1;
}
.item-3 {
  background-image: url('../images/info_3.png');
  grid-column: 2 / span 1;
  grid-row: span 1;
}
.item-4 {
  background-image: url('../images/info_4.png');
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}
.item-5 {
  background-image: url('../images/info_5.png');
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.item-6 {
  background-image: url('../images/info_6.png');
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
#header-bar-desktop{
  display: none;
}
.desktop-hidden{
  display: none;
}
.music-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 320px;
  border-bottom: 1px solid #292929;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: 5px;
}
.music-item img{
  height: 32px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}
.musicStop{
  display: none;
}
.music-content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 910px;
}
.music-content-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 3%;
}
.music-item{
  margin: 20px 40px;
}
.music-item p{
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
  font-family: robotoRegular;
  color: #292929;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}
.angle-button{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.angle-button button{
  border: 1px solid #292929;
  color: #292929;
  font-size: 22px;
  font-family: robotoRegular;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 100px;
  cursor: pointer;
}
.posts-wrapper{
  margin-top: 90px;
  margin-bottom: 100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.post{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: flex-start;
  padding-top: 70px;
  margin-top: 40px;
  background-image: url('../images/icons/quote-bg.png');
  background-repeat: no-repeat;
}
.posts{
  width: 910px;
}
.post-img img{
  height: 350px;
}
.post div{
  margin: 0px 40px;
}
.post-content h2,
.video-content h2{
  text-align: center;
  font-family: robotoRegular;
  color: black;
  letter-spacing: 0.3em;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.5;
}
.post-content p,
.video-content p{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  font-family: robotoRegular;
  color: black;
  line-height: 1.8;
  width: 560px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.post-content h6,
.video-content h6{
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  font-family: robotoBold;
  color: black;
  line-height: 1.8;
  max-width: 550px;
}
.angle-button button{
  background: white;
}
.video-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 2px solid black;
  max-width: 600px;
  margin: 30px;
  padding-bottom: 15px;
}
.book-wrapper{
  margin-top: 90px;
  margin-bottom: 140px;
}
.book-content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.book-content p{
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  font-family: robotoRegular;
  color: black;
  line-height: 1.3;
  text-align: left;
}
.footer{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
}
.footer-items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 60%;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.video-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.footer-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0% 3%;
  cursor: pointer;
}
.video{
  max-width: 1900px;
}
.footer-item p{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
  font-family: robotoRegular;
  color: black;
  line-height: 1.3;
  text-align: center;
  margin: 0;
}
.footer-item img{
  height: 20px;
  margin-bottom: 5px;
}
.anchor{
  position: absolute;
  outline: none;
  width: 100px;
  height: 10px;
  margin-top: -100px;
}
.book img{
  height: 400px;
  margin-right: 120px;
}
.video-item img{
  height: 160px;
  margin-right: 20px;
}
.video-content h6{
  text-align: left;
}
.video-content p{
  text-align: left;
}
.video-content p,
.video-content h6
{
  width: auto;
  max-width: unset;
}
.read-more{
  justify-content: unset;
}
.book-text{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}
.footer-item p{
  min-width: 130px;
}
.video-more{
  margin-top: 30px;
}
#modalVideoContent img,
#modalVideoContent video{
  margin: 20px;
}
#modalMusic .music-item{
  height: 50px;
}
.modal{
  max-width: 1200px;
}
@media (min-width: 320px) and (max-width: 1000px){
  .photos-grid{
    max-width: 90%;
  }
  .footer-links-items{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    margin-left: 10px;
    border-left: 1px solid #262626;
    padding-left: 10px;
  }
  .footer-links-items img{
    margin: 0px 5px;
  }
  #modalVideo img:first-child{
    margin-top: 100px !important;
  }
  #modalVideo img:last-child{
    margin-bottom: 50px !important;
  }
  #modalImages .modal img{
    min-width: 280px;
    max-width: 280px;
  }
  #modalImages .modal img:last-child{
    margin-bottom: 50px !important;
  }
  #modalImages .modal img:first-child{
    margin-top: 70px;
  }
  #modalMusic .music-item{
    margin-right: 20px;
    min-width: 195px;
  }
  #modalMusic .music-item:last-child{
    margin-bottom: 130px;
  }
  #modalMusic .modal{
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal{
    margin: 0px;
    padding-left: 100%;
    padding-right: 100%;
  }
  .info-about{
    margin-right: 30px;
    margin-left: 30px;
  }
  .book-wrapper{
    margin-bottom: 70px;
  }
  .video-content p{
    margin-bottom: 10px;
  }
  .footer-item p{
    display: none;
  }
  .footer-items{
    justify-content: space-around;
    justify-content: space-evenly;
  }
  .video-item{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .video-wrapper{
    margin-right: 30px;
    margin-left: 30px;
  }
  .book-wrapper{
    margin-right: 30px;
    margin-left: 30px;
  }
  .book img{
    margin-right: 0;
    width: 300px;
  }
  .book-content p{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .book-content p br{
    display: none;
  }
  .book-content{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
  .post{
    flex-wrap: wrap;
  }
  .posts{
    width: auto;
  }
  .post-content p{
    width: auto;
    font-size: 15px;
  }
  .video-content p{
    width: auto;
    font-size: 15px;
  }
  .about-text h2{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
  }
  .photos-grid div{
    padding: 0%;
  }
  .desktop-hidden{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .mobile-hidden{
    display: none;
  }
  .content h3{
    font-size: 13vw;
  }
  .about-img img{
    height: 320px;
    margin-top: 20px;
  }
  .info-about{
    flex-wrap: wrap;
  }
  .about-text br{
    display: none;
  }
  .about-text h2{
    margin-bottom: 0;
  }
  .info{
    width: 100%;
    margin-bottom: 2%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .photos-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height: 170px;
    margin-bottom: 575px;
  }
  .item-4{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .item-5{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .item-6{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .info-photos{
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-img{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .about-text p{
    font-size: 17px;
    text-align: left;
  }
  .about-text h2{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    text-align: right;
  }
  .content-wrapper{
    margin-top: 0;
  }
  .info-about div:last-child{
    margin-right: 30px;
    margin-top: 40px;
  }
  .music{
    margin-right: 30px;
    margin-left: 30px;
  }
  .about-text-title p{
    width: 100%;
  }
  .content{
    height: calc(80vh + 30px);
  }
  .music-content{
    width: 100%;
  }
  #modalMusic .music-item{
    margin-left: 0px;
    margin-right: 0px;
    width: 270px;
  }
  .music-content-wrapper{
    margin-top: 15px;
  }
  .posts .about-text h2{
    justify-content: center;
  }
}
@media (min-width: 600px) and (max-width: 1000px){
  .about-img{
    margin-right: 30px;
  }
  .video-item{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content h3{
    font-size: 8vw;
  }
  .photos-grid{
    height: 400px;
  }
  .photos-grid{
    margin-bottom: 1300px;
  }
  .info-about div:first-child{
    justify-content: flex-start;
    margin-left: 30px;
  }
  .info-about{
    flex-wrap: nowrap;
  }
  .music-item{
    margin-left: 40px;
    margin-right: 40px;
  }
}
