html, body{
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}
input:active:focus {
  outline: none !important;
}
.start-section{
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
  height: 600px;
}
.message-item{
  position: fixed;
  bottom: -3px;
  right: 10px;
  z-index: 50;
  background-color : #31B0D5;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  border-color: #46b8da;
}
.message-grid{
  display: inline-flex;
}
.modal-body > .form-control{
  margin-bottom: 7px;
}
.modal-body > .form-control{
  font-weight: 100;
}
#message-ico{
  margin-right: 10px;
  margin-top: 6px;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.message-item > h5{
  color: white;
}
#text-href{
  font-weight: 100;
}
#message-button{
  background: Transparent;
  border: 0px;

}
.calculator-section{
  background-color: rgb(40, 41, 66);
}
.phone-text{
  color: white;
  font-weight: 600;
  margin: 0 !important;
  padding-right: 10px;
}
.call-top-grid{
  display: grid;
}
#navbarSupportedContent > ul > li > a{
  text-decoration: none;
  position: relative;
}
#navbarSupportedContent > ul > li > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 0;
}
#navbarSupportedContent > ul > li > a:hover:after {
  width: 100%;
  left: 0;
}
.main-logo{
  margin-right: 10px;
}
.answer{
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(47, 48, 72);
}
#first-choose{
  margin-right: 10px;
  border-radius: 10px;
}
#second-choose{
  margin-right: 10px;
  border-radius: 10px;
}
#third-choose{
  border-radius: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active{
  border: 2.5px solid rgb(2, 127, 212) !important;
}
.btn-secondary:not(:disabled):not(.disabled){
  border: 2.5px solid rgb(109, 112, 122);
}
.btn-secondary.focus{
  box-shadow: none;
}
.btn-group-toggle > .btn{
  margin-bottom: 5px;
}
.count-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    font-size: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 2;

    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    float: right;
}
.count-button:hover{
  color: white;
  background-color: black;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
}
@keyframes shine {
  from {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(250,212,3,.8);
  	-webkit-transition: none;
    -moz-transition: none;
  	transition: none;
  }
  to {
    width: 120%;
    background-color: rgba(255,255,255,0);
  }
}
@keyframes moves-left {
  0% {
    margin-right: 0px;
  }
  50% {
    margin-right: 20px;
  }
  100%{
    margin-right: 0px;
  }
}
@keyframes moves-right {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 20px;
  }
  100%{
    margin-left: 0px;
  }
}
.join-button{
    position: relative;
    color: rgb(2, 127, 213);
    background-repeat: no-repeat;
    border: none;
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    font-size: 17px;
    background-color: white;

    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
}
.join-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
	-webkit-transition: none;
  -moz-transition: none;
	transition: none;
  animation: shine  4s infinite cubic-bezier(0.02, 0.04, 0, 1.37);
}
.join-button:hover{
  color: rgb(2, 196, 214);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
}
.price-button{
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    font-size: 17px;

    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
}
.price-button:hover{
  border: none;
  color: rgb(2, 127, 213);
  background-color: white;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
}
.more-info-button{
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    width: 270px;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    border: none;
    font-size: 17px;
    margin-top: 53px;

    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
}
.count-info-button{
    color: white;
    background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    border: none;
    font-size: 17px;
    margin-bottom: 30px;

    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
}
.count-info-button:hover{
  color: black;
  background: white;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
}
.pre-footer-button-section{
  display: flex;
  justify-content: center;
}
#hidden{
  display: none;
}
button:focus,button:active {
   outline: none !important;
   box-shadow: none;
}
@font-face {
  font-family: "freeset";
  src: url(fonts/freeset.ttf);
}
.large-sign{
  font-family: freeset;
  color: white;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 7%;
  margin-bottom: 9%;
  max-width: 591px;
}
.large-black-sign {
  font-family: freeset;
  color: black;
  margin-left: 11%;
  margin-right: 5%;
  margin-top: 9%;
  margin-bottom: 9%;
  max-width: 380px;
  justify-self: center;
}
.large-black-sign p{
  font-size: 35px;
}
.large-black-sign h6{
  line-height: 1.8;
}
.large-center-sign{
  font-family: freeset;
  color: black;
  font-size: 40px;
  text-align: center;
}
.large-center-compare-sign{
  display: grid;
  justify-content: center;
  font-family: freeset;
  color: black;
  font-size: 25px;
  text-align: left;
}
#compare-first-string{
  max-width: 500px;
}
.large-center-white-sign{
  font-family: freeset;
  font-size: 35px;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
}
.question{
  margin-top: 30px;
}
.questions-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  padding-bottom: 2%;
}
.question-title{
  color: rgb(148, 148, 161);
}
.top-navigation{
  position: relative;
  z-index: 4;
  text-align: center;
}
.partners-section{
  display: grid;
  grid-template-columns: 43% 57%;
  margin-top: 130px;
}
.partners-grid{
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 300px 300px;
  background: url(images/point.png) repeat center top;
  padding-bottom: 20px;
}
.partners-section hr{
  display: block;
  height: 10px;
  border: 0;
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
  border-radius: 10px;
  margin-top: 30px;
  padding: 0;
}
.underline-hr{
  margin-top: -10px;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
  height: 2px;
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
}
.underline-footer-hr{
  margin-top: -55px;
  border-radius: 10px;
  height: 1px;
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
}
.underline-custom-hr{
  border-radius: 10px;
  height: 1px;
  background: white;
}
.underline-hr-white{
  margin-top: -10px;
  margin-left: 37%;
  margin-right: 37%;
  border-radius: 10px;
  height: 2px;
  background: white;
}
.underline-hr-compare{
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 10px;
  height: 2px;
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
}
.join-section{
  margin-top: 7%;
}
.join-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-row-gap: 20px;
  justify-content: center;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}
.price-card{
  height: 650px;
  width: 350px;
  border: 5px solid rgb(2, 127, 213);
  border-radius: 20px;
  background-color: rgb(234, 249, 255);
}
.price-card p{
  color: rgb(88, 88, 88);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.price-card hr{
  margin-top: 30px;
  height: 1px;
  background-color: #72c1eb;
  border: none;
}
.price-card-header-text{
  margin-top: 40px;
}
.price-card-header-text h6{
  font-size: 20px !important;
  font-weight: 600;
}
.price-card-text{
  margin-top: 20px;
}
.card-top-info{
  color: black;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 35px;
}
.card-bottom-info{
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-style: italic;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.bg-light{
  background-color: inherit !important;
}
a{
  color: white !important;
}
.navbar-nav > li{
  padding-left: 30px;
  padding-right: 30px;
}
.answer > .form-control{
  color: white;
  box-shadow: none !important;
  border: 2.5px solid rgb(109, 117, 125);
  border-radius: 10px;
  background-color: rgb(109, 117, 125);
}
.answer > .form-control:focus{
  color: white;
  background-color: rgb(109, 117, 125);
  border: 2.5px solid rgb(2, 127, 212);
}
.answer > .form-control::-webkit-input-placeholder {
   color: rgb(168, 172, 176);
 }
.navbar-light .navbar-toggler {
  border: none;
}
#submit-calculator{
  color: white;
  background-color: rgb(47, 48, 72);
  background-repeat: no-repeat;
  border: 2.5px solid rgb(2, 127, 212);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  font-size: 15px;
  margin-bottom: 10%;
  margin-top: 20px;

  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
#submit-calculator:hover{
  border: 2.5px solid rgb(47, 48, 72);
  color: rgb(2, 127, 212);;
  background-color: white;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.75);
}
.submit-section{
  display: grid;
  grid-template-columns: 1000px;
  justify-content: center;
}
.compare-section{
  margin-left: 5%;
  margin-right: 5%;
  background: white;
  margin-top: 120px;
  margin-bottom: 5%;
}
.compare-grid{
  display: flex;
  justify-content: center;
}
.compare-grid-title{
  margin-top: 5%;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 648px 648px;
}
#self-false{
  background-image: linear-gradient(-90deg,rgb(248, 79, 79), rgb(179, 10, 13));
  padding: 13px;
  color: white;
  border-radius: 7px;
}
#help-true{
  background-image: linear-gradient(-90deg, rgb(2, 127, 213), rgb(2, 196, 214));
  color: white;
  padding: 13px;
  border-radius: 7px;
  margin-right: 15%;
}
.self-block{
  padding: 35px;
}
.self-block-grid{
  display: inline-flex;
}
.self-selector{
  max-width: 600px;
}
.services-selector{
  max-width: 600px;
}
.compare-ico{
  margin-right: 30px;
}
.self-block h6{
  font-style: italic;
  color: rgb(144, 146, 154);
  font-size: 15px;
}
#custom-background{
  background: rgb(248, 247, 247);
}
#first-compare{
  height: 58px;
}
#second-compare{
  height: 58px;
}
#third-compare{
  height: 56px;
}
#four-compare{
  height: 56px;
}
#five-compare{
  height: 56px;
}
#six-compare{
  height: 112px;
}
#custom-sign > p{
  font-size: 20px !important;
}
#carouselExampleIndicators{
  height: 591px;
}
.hidden-title{
  display: none;
}
.hidden-hr{
  display: none;
}
#gradient-digit{
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(2, 127, 213), rgb(2, 196, 214));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}
.item-grid{
  display: grid;
  justify-items: flex-end;
  grid-template-columns: 50% 50%;
  grid-column-gap: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
}
.item-content-grid{
  display: flex;
  align-items: baseline;
}
.item-content-grid > h3{
  text-decoration: underline rgb(2, 127, 213);
}
.item{
  width: 610px;
  padding: 15px;
}
.item-grid-wrapper{
  display: grid;
  justify-content: center;
}
.whywe-section{
  margin-bottom: 5%;
}
.footer{
  margin-top: 50px;
  background-color: rgb(39, 41, 66);
}
.footer-grid{
  display: grid;
  padding: 100px;
  grid-template-columns: 310px 310px;
  justify-content: center;
}
.phone > h5{
  color: rgb(174, 174, 174);
}
.phone > h4{
  padding-bottom: 20px;
  color: white;
}
.adress > h5{
  color: rgb(174, 174, 174);
}
.adress > h4{
  padding-bottom: 20px;
  color: white;
}
.bottom-footer{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background: rgb(22, 29, 39);
}
#hidden-bottom-footer-text{
  display: none;
}
.bottom-footer > h5{
  font-size: 15px;
  color: rgb(84, 91, 102);
}
#white-footer-hr{
  display: inline-flex;
  height: 1px;
  margin-bottom: 40px;
  background-color: white;
  width: 250px;
}
#hidden-count-info-button{
  display: none;
}
#carouselExampleIndicators{
  margin-top: -80px !important;
}
.carousel-control-prev-icon{
  animation: moves-left  2s infinite ease-out;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
}
.carousel-control-next-icon{
  animation: moves-right  2s infinite ease-out;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
}
@media (min-width: 600px) and (max-width: 1240px) {
  .item-grid{
    grid-template-columns: none !important;
  }
  .bottom-footer{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }
}
@media (min-width: 150px) and (max-width: 599px) {
  #hidden-bottom-footer-text{
    display: block !important;
  }
  #visible-bottom-footer-text{
    display: none !important;
  }
  .item-grid{
    grid-template-columns: none !important;
  }
  .item{
    padding: 5px !important;
    width: 315px;
  }
  .item-content-grid{
    display: block !important;
  }
  #gradient-digit {
    font-size: 52px !important;
  }
  .bottom-footer{
    display: none !important;
  }
}
@media (min-width: 150px) and (max-width: 479px) {
  .compare-grid{
    display: block !important;
  }
  .compare-grid-title{
    display: none;
  }
  .hidden-title{
    display: flex !important;
    margin-top: 5%;
  }
  .hidden-hr{
    display: block !important;
  }
  #help-true{
    margin-right: 0 !important;
  }
  .self-selector{
    max-width: none !important;
  }
  .self-block{
    padding: 15px !important;
  }
  .services-selector{
    max-width: none !important;
  }
  #first-compare{
    height: 116px !important;
  }
  #second-compare{
    height: 141px !important;
  }
  #third-compare{
    height: 141px !important;
  }
  #four-compare{
    height: 95px !important;
  }
  #five-compare{
    height: 95px !important;
  }
  #hidden-count-info-button{
    display: block !important;
  }
  #visible-count-info-button{
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 1020px) {
  .compare-grid{
    display: block !important;
  }
  .compare-grid-title{
    display: none;
  }
  .hidden-title{
    display: flex !important;
    margin-top: 5%;
  }
  .hidden-hr{
    display: block !important;
  }
  #help-true{
    margin-right: 0 !important;
  }
  .self-selector{
    max-width: none !important;
  }
  .services-selector{
    max-width: none !important;
  }
}
@media (min-width: 1900px) and (max-width: 5000px) {
  .start-section{
    padding-left: 13%;
    padding-right: 13%;
  }
  .partners-section{
    padding-left: 13%;
    padding-right: 13%;
  }
}
@media (min-width: 620px) and (max-width: 1020px) {
  .questions-grid{
    grid-template-columns: none;
  }
  .submit-section{
    grid-template-columns: 500px;
  }
}
@media (min-width: 200px) and (max-width: 619px) {
  .questions-grid{
    grid-template-columns: none;
  }
  .submit-section{
    grid-template-columns: 265px;
  }
  .question-title > h3{
    font-size: 17px;
  }
  .answer{
    padding: 5px;
    display: grid;
  }
  .btn-group{
    display: inline-grid;
  }
  #first-choose{
    margin-right: 0;
  }
  #second-choose{
    margin-right: 0;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  #last-card{
    margin-left: 100%;
  }
}
@media (min-width: 448px) and (max-width: 991px) {
  .start-section{
    height: 770px !important;
  }
}
@media (min-width: 368px) and (max-width: 447px) {
  .start-section{
    height: 780px !important;
  }
  #custom-sign{
    margin-top: 150px !important;
  }

}
@media (min-width: 150px) and (max-width: 351px) {
  .price-card{
    width: 315px !important;
  }
  .more-info-button{
    margin-top: 10px !important;
    margin-left: -15px;
  }
}
@media (min-width: 150px) and (max-width: 367px) {
  .start-section{
    height: 780px !important;
  }
  #custom-sign{
    margin-top: 150px !important;
  }
  .phone-text{
    padding-top: 20px;
  }
  .large-sign{
    font-family: freeset;
    color: white;
    font-size: 27px !important;
    margin: 15%;
    margin-top: 180px !important;
  }
  .large-sign p{
    margin-bottom: 35px;
  }
  .large-center-sign p{
    font-size: 30px !important;
  }
  #hidden{
    display: inline-block !important;
  }
  #unhidden{
    display: none !important;
  }
  .count-button{
    display: none !important;
  }
}
@media (min-width: 990px) and (max-width: 1401px) {
  .main-logo{
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1120px) {
  .phone-text{
    display: none !important;
  }
}
@media (min-width: 870px) and (max-width: 1090px) {
  .partners-section{
    grid-template-columns: 100% !important;
    margin-top: 0px !important;
  }
  .partners-grid{
    grid-template-columns: 300px 300px 300px !important;
  }
  .large-black-sign{
    margin-bottom: 4% !important;
  }
}
@media (min-width: 600px) and (max-width: 869px) {
  .partners-section{
    grid-template-columns: 100% !important;
    margin-top: 0px !important;
  }
  .large-black-sign{
    margin-bottom: 4% !important;
  }
}
@media (min-width: 100px) and (max-width: 383px) {
  .price-button {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
  .join-button {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .join-grid{
    margin-top: 15% !important;
  }
  .large-center-sign {
    margin-top: 70px;
  }
}
@media (min-width: 200px) and (max-width: 599px) {
  .main-logo{
    display: none !important;
  }
  .partners-section{
    grid-template-columns: 100% !important;
    margin-top: 0px !important;
  }
  .large-black-sign p{
    margin-bottom: 4% !important;
    font-size: 27px !important;
  }
  .large-center-sign p{
    font-size: 30px !important;
  }
  .large-center-white-sign p{
    font-size: 30px !important;
  }
  .partners-grid{
    grid-template-columns: 300px !important;
  }
}
@media (min-width: 150px) and (max-width: 725px) {
  .footer-grid{
    grid-template-columns: none !important;
  }
  .phone{
    margin-bottom: 50px;
  }
  .phone > h4{
    padding-bottom: 0 !important;
  }
  .adress > h4{
    padding-bottom: 0 !important;
  }
  .phone > h5{
    font-size: 16px !important;
  }
  .adress > h5{
    font-size: 16px !important;
  }
}
@media (min-width: 368px) and (max-width: 725px) {
  .phone-text{
    padding-top: 20px;
  }
  .large-sign{
    font-family: freeset;
    color: white;
    font-size: 27px !important;
    margin: 15%;
    margin-top: 225px !important;
  }
  .large-sign p{
    margin-bottom: 35px;
  }
  #hidden{
    display: inline-block !important;
  }
  #unhidden{
    display: none !important;
  }
  .count-button{
    display: none !important;
  }
  .join-grid{
    margin-top: 15% !important;
  }
  .large-center-sign {
    margin-top: 70px;
  }
}
