input:focus,button:focus {outline:0 !important;box-shadow:none !important;}
body{
  background: #000 !important;
}
/* header */
.header-desktop{
  background: rgb(51, 63, 81);
  height: 50px;
}
.header-desktop ul{
	list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  height: 100%;
  -ms-align-items: center;
  align-items: center;
}
.header-desktop ul li{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.dropdown-menu {
  min-width: 80px !important;
}
#home-desktop-setup{
  -ms-align-items: center;
  align-items: center;
}
.header-desktop ul{
  margin-right: 40px;
}
.header-desktop ul li a{
	text-decoration: none;
  color: rgb(191, 191, 191);
}
.header-desktop ul li .headerDesktopSelected,
.headerMobileSelected{
  color: rgb(237, 125, 50);
}
#header-desktop-logo{
  height: 25px;
  margin-right: 20px;
}
#header-desktop-search-input{
  border: 0;
  background: rgb(34, 42, 53);
  height: 30px;
  border-radius: 0%;
  width: 180px;
  color: rgb(237, 125, 50);
}
#header-desktop-search-button{
  border: 0;
  background: rgb(34, 42, 53);
  height: 30px;
  border-radius: 0%;
}
#headerDesktopAlertAmount{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}
#header-desktop-signout{
  font-size: 30px;
  margin-left: 20px;
}
/* control */
.control{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  width: 100%;
}
.control-wrapper{
  width: 100%;
  height: calc(100vh - 50px);
}
/* control before */
.control-before{
  height: 100%;
  width: 45%;
  background: #222A37;
  border-right: 2px solid black;
}
.control-levels{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
.control-level{
  width: 100%;
  border-left: 2px solid black;
  border-top: 4px solid black;
  border-bottom: none;
  min-width: 240px;
}
.control-level-title{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #333E51;
  -ms-align-items: baseline;
  align-items: baseline;
  width: 100%;
  padding: 10px 0px 5px 0px;
  padding-left: 10px;
  text-align: left;
  height: 49px;
}
.control-level-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #333E51;
  -ms-align-items: baseline;
  align-items: baseline;
  width: 100%;
  padding: 15px 0px;
  padding-left: 6px;
  text-align: left;
}
.control-level-title h2{
  color: white;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0px 7px 0px 30px;
}
.control-level-item h2{
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0px 7px 0px 30px;
  cursor: pointer;
}
.control-level-title h6{
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.control-level-item h6{
  color: white;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.control-level-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px solid #333F51;
  background: #222A37;
}
.control-level-items{
  padding: 4px;
}
.level-label-small{
  width: 25px !important;
  height: 25px !important;
  top: -10px !important;
}
.level-label-small::after{
  width: 22px !important;
  top: 2px !important;
}
.text-clock{
  color: #9A9EA4;
  font-size: 25px;
  visibility: hidden;
}
.text-red{
  color: red;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 7px;
  visibility: hidden;
}
.text-red-visible{
  visibility: visible;
}
.text-clock-visible{
  visibility: visible;
}
.level-dollar{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
.level-clock{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
.level-content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: baseline;
  width: 90%;
}
.control-level-data{
  overflow-y: auto;
  height: calc(100% - 50px);
  border-top: 4px solid black;
}
/* control after */
.control-after{
  width: 19%;
  height: 100%;
  background: #262626;
}
.control-column{
  border-top: 4px solid black;
}
.control-level-title img{
  height: 23px;
  margin-left: 20px;
}
.afterIco{
  margin-left: 5px !important;
}
.level-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 25px;
  -ms-align-self: center;
  align-self: center;
}
.level-buttons button{
  width: 80px;
  padding: 0px 7px;
  border: 1px solid black;
  background: #262626;
  color: white;
  letter-spacing: 0.5px;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.level-optional_1 img,
.level-optional_2 img,
.level-optional_3 img,
.level-optional_4 img,
.level-optional_5 img
{
  height: 25px;
}
.level-optional_1 h2,
.level-optional_2 h2,
.level-optional_3 h2,
.level-optional_4 h2,
.level-optional_5 h2
{
  font-size: 20px;
  color: #7F7F7F;
  margin: 0;
  padding: 0px 7px;
}
.level-buttons p{
  margin: 0px;
}
.level-buttons #offPreloader{
  -webkit-animation: 1s linear infinite preloadRotate;
  animation: 1s linear infinite preloadRotate;
}
.level-buttons #onPreloader{
  -webkit-animation: 1s linear infinite preloadRotate;
  animation: 1s linear infinite preloadRotate;
}
.level-buttons #offPreloader_1{
  -webkit-animation: 1s linear infinite preloadRotate;
  animation: 1s linear infinite preloadRotate;
}
.level-buttons #onPreloader_1{
  -webkit-animation: 1s linear infinite preloadRotate;
  animation: 1s linear infinite preloadRotate;
}
.level-buttons img{
  margin: 0px;
  padding: 0px;
  height: 27px;
}
#offPreloader,
#onPreloader,
#offPreloaderError,
#onPreloaderError,
#offPreloaderChecked,
#onPreloaderChecked,
#offPreloader_1,
#onPreloader_1,
#offPreloaderError_1,
#onPreloaderError_1,
#offPreloaderChecked_1,
#onPreloaderChecked_1
{
  display: none;
}
@keyframes preloadRotate {
   from {
     -webkit-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
   }
}
.level-buttons {
  justify-content: flex-start;
}
.level-buttons button:first-child{
  margin-right: 7px;
}
.dropdown button{
  color: white;
  letter-spacing: 0.5px;
  padding: 2px 12px;
}
.timer-select-item{
  user-select: none;
}
.dropdown button:hover{
  color: white;
}
.dropdown-menu a{
  color: black;
  text-decoration: none !important;
  margin-left: 10px;
}
.level-dropdowns{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-self: flex-end;
  align-self: flex-end;
  margin-left: 5px;
}
.control-large-levels{
  height: calc(50vh - 78px);
  overflow-y: auto;
  border-top: 4px solid black;
}
.control-large-level{
  height: 100%;
}
.large-title h2{
  color: #7F7F7F;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0px 7px 0px 30px;
  min-width: 100px;
}
.large-line{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 63px;
  padding-left: 6px;
  border-bottom: 1px solid #333F51;
  text-align: left;
}
.control-columns{
  background: #222A37;
}
#levelPayModal{
  display: none;
}
.checkbox_4_level,
.checkbox_5_level{
  display: none;
}
.paymodal-wrapper{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paymodal-window-wrapper{
  position: relative;
  background: rgb(64, 64, 64);
  border: 1px solid rgb(237, 125, 50);
  margin: auto;
  padding: 0;
  width: 420px;
}
.paymodal-text{
  padding: 7%;
}
.paymodal-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.paymodal-buttons button{
  padding: 5px 20px;
  color: white;
  background: #262626;
  font-size: 18px;
  border: none;
}
.paymodal-buttons #payModalCancel{
  margin-right: 10px;
}
.paymodal-text h4{
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}

.level-lamp img{
  height: 27px;
  display: none;
}
.large-lines{
  padding: 4px;
  overflow-y: auto;
}
.large-title{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding-right: 30px;
  height: 60%;
}
.level-power{
  border-right: 4px solid #333F51;
  height: 60%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  font-size: 23px;
}
.level-price{
  border-right: 4px solid #333F51;
  height: 60%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
}
.level-lamp{
  border-right: 4px solid #333F51;
  height: 60%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
}
.level-price p{
  margin: 0;
  font-size: 18px;
  -ms-align-self: center;
  align-self: center;
  letter-spacing: 0.5px;
}
.level-price-red{
  color: #FE0300;
}
.level-price-green{
  color: #528135;
}

.level-optional_1{
  border-right: 4px solid #333F51;
  height: 60%;
  display: none;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  font-size: 23px;
}
.level-optional_2,
.level-optional_3,
.level-optional_4,
.level-optional_5
{
  border-right: 4px solid #333F51;
  height: 60%;
  display: none;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  font-size: 23px;
}
.text-grey{
  color: #7D7D7D;
}
.text-blue{
  color: #0071C2;
}
.text-green{
  color: #4B8235;
}
.text-yellow{
  color: #EDD367;
}
.text-lightred{
  color: #FA0302;
}
.text-purple{
  color: #0071C2;
  -webkit-filter: drop-shadow(0 0 2px #FA0302);
  filter: drop-shadow(0 0 2px #FA0302);
}
.level-power button{
  background: inherit;
  border: none;
}
.iconVisible{
  display: block !important;
}
.level-heart h2{
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 7px;
  height: 15px;
}
.heart_yellow h2{
  color: #FBF709 !important;
}
.heart_green h2{
  color: #02DB05 !important;
}
.heart_orange h2{
  color: #FA7C00 !important;
}
.heart_red h2{
  color: #F10703 !important;
}
.heart_purple h2{
  color: #893E94 !important;
}
.heart_darkred h2{
  color: #7F0025 !important;
}
.level-heart img{
  height: 25px;
  display: none;
}
.level-heart{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin: 0px 12px;
  height: 60%;
}
.level-home{
  font-size: 23px;
  padding: 0px 12px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-right: 4px solid #333F51;
  height: 60%;
  -ms-align-items: center;
  align-items: center;
}
.level-alert{
  font-size: 23px;
  padding: 0px 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-right: 4px solid #333F51;
  height: 60%;
  -ms-align-items: center;
  align-items: center;
}
.level-alert-red i,
.level-alert-red h2
{
  color: #FA0302 !important;
}
.level-alert h2{
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 7px;
  height: 15px;
}
.level-alert a{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
}
.powerDropdown{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.level-temp{
  font-size: 23px;
  padding: 0px 12px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-right: 4px solid #333F51;
  height: 60%;
  -ms-align-items: center;
  align-items: center;
}
.level-home h2{
  color: #7F7F7F;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-left: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-self: flex-end;
  align-self: flex-end;
}
.level-temp h2{
  color: #7F7F7F;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-left: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-self: flex-end;
  align-self: flex-end;
  text-align: center;
  width: 50px;
  justify-content: center;
}
.icoHidden{
  display: none;
}
.level-temp h2:first-child{
  margin-right: 20px;
}
.level-temp h2:last-child{
  margin-left: 10px;
}
.level-temp-icon img{
  height: 22px;
}
.level-temp-icon{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 25px;
}
/* checkbox */
.level-checkbox-wrapper{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
}
.level-checkbox-wrapper label{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: -13px;
  left: 0;
  background: inherit;
  border: 2px solid #8193AC;
  border-radius: 0px;
}
.level-checkbox-wrapper .level-label:after{
  content: '';
  width: 28px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 2px solid #4D7634;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.level-checkbox-wrapper input[type=checkbox]{
  visibility: hidden;
}
.level-checkbox-wrapper input[type=checkbox]:checked + .level-label:after{
  opacity: 1;
}

.header-mobile {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  height: 100%;
  -ms-align-items: center;
  align-items: center;
}
.header-mobile li a{
	text-decoration: none;
  color: rgb(191, 191, 191);
}
.header-mobile{
  height: 50px;
  background: rgb(38, 38, 38);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.header-mobile-navigation{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  justify-content: space-evenly;
}
.header-mobile-navigation i{
  font-size: 27px;
}
.header-mobile,
.home-mobile-search{
  display: none;
}
#header-mobile-navigation-alertConunter{
  color: red;
  position: absolute;
  top: 0px;
}
#betweenLamp{
  display: none;
  margin: 0px 7px;
}
.header-tabs{
  display: none;
}
.daysAlert{
  width: 100%;
  border: 2px solid red;
  background: #BFBFBF;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  display: none;
  height: 40px;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.control-timer{
  height: 100%;
  width: 36%;
  border-top: 4px solid black;
  border-left: 10px solid black;
}
.timer-title-time select{
  background: inherit;
  border: none;
  color: white;
  font-size: 17px;
}
.timer-title-time{
  border-right: 4px solid #7F7F7F;
  padding-right: 35px;
  margin-right: 35px;
}
.timer-title{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border-right: 4px solid black;
  overflow-y: auto;
}
.timer-title:last-child{
  border-top: 4px solid black;
}
.dropdown button{
  letter-spacing: unset;
}
.level-dropdowns-timer{
  border-right: 4px solid #7F7F7F;
  padding-right: 20px;
  margin-right: 20px;
}
#power1Dropdown{
  color: yellow;
}
.powerDropdown{
  margin-right: 5px;
}
#level_6_label,
.level-label_6{
  top: -4px !important;
  border: 2px solid white !important;
}
.level-label_6{
  left: 1px !important;
}
#level_6_label:after,
.level-label_6:after
{
  border-color: white !important;
}
.text-times{
  color: red;
  font-size: 20px;
}
.timer_table{
  background: #262626;
}
.timer-checkitem{
  padding-right: 20px !important;
}
.dashboardmodal-wrapper{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetmodal-window-wrapper{
  position: relative;
  background: rgb(64, 64, 64);
  border: 1px solid rgb(237, 125, 50);
  margin: auto;
  padding: 0;
  width: 420px;
}
.resetmodal-window h4{
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 100;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 15px;
}
.resetmodal-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.reset-modal-buttons-button_darkgrey{
  background: rgb(38, 38, 38);
  width: 90px;
  color: white;
  border: none;
  font-size: 19px;
  font-weight: 100;
  margin-right: 10px;
}
.resemodal-text{
  padding: 10px;
}
.timer-alert-done{
  padding: 3px 7px;
  border: 1px solid #404040;
  background: #262626;
  font-size: 20px;
  color: #ED7D32;
  margin-right: 15px;
}
.timer-table{
  overflow-y: auto;
}
.timer-alert-cancel{
  padding: 3px 7px;
  border: 1px solid #404040;
  background: #262626;
  font-size: 20px;
  color: #7F7F7F;
  cursor: pointer;
}
.timer-alerts-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.timer-alert{
  background: #262626;
  padding: 10px;
  margin: 10px;
}
.timer-alert h6{
  color: #7C7C7C;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.fa-times{
  cursor: pointer;
}
#dashboardDeleteModal{
  display: none;
}
.timer_table td{
  color: #7F7F7F;
  padding: 5px 10px;
  text-align: left;
}
.timer-table tr th{
  background: #A6A6A6;
  padding: 5px 10px;
  color: black;
  text-align: left;
  border: 1px solid black;
}
.timer-table table{
  width: 100%;
  border-collapse: collapse;
}
.timer-table{
  margin: 10px;
}
.timer-title-plus{
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.powerDropdown img{
  height: 20px;
}
.level-dropdown_power{
  width: auto !important;
}
.level-dropdown{
  width: 65px;
}
.powerDropdown{
  background: #262626;
  border: 1px solid black;
}
.timer-select{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.timer-select div{
  color: white;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-right: 7px;
  cursor: pointer;
}
.timer-title{
  background: #313E53;
  padding: 7px 12px;
}
.timer-title-time span{
  color: white;
  font-size: 20px;
}
.timer-title-time option{
  color: black;
  font-size: 20px;
}
@media (min-width: 320px) and (max-width: 1160px) {
  #home-mobile-searchbar-wrapper{
    z-index: 90;
  }
  .level-content{
    width: auto;
  }
  .level-dollar i{
    margin: 0 !important;
  }
  .timer-title:first-child{
    position: fixed;
    top: 49px;
    left: 0;
  }
  .timer-table{
    margin: 0;
  }
  .control-timer{
    border-top: 0px;
  }
  .timer-alert{
    display: none;
  }
  .timer-title-last{
    position: fixed;
    top: 97px;
    left: 0;
  }
  .control{
    width: 50% !important;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
  }
  .level-dropdowns-timer{
    border: none;
    padding-right: 0px !important;
    margin-right: 0px !important;
  }
  .dropdown-toggle{
    padding: 0;
  }
  .level-dropdowns-timer{
    padding: 0px 7px;
  }
  .timer-title{
    overflow-y: unset;
    width: 100%;
  }
  .timer-title-time{
    border-right: none;
    padding-right: 50px !important;
    margin-right: 0px !important;
  }
  .timer-title{
    border: none !important;
  }
  .timer-select div{
    font-size: 23px;
  }
  .timer-title-time select{
    font-size: 23px;
  }
  .timer-title-plus{
    position: fixed;
    top: 0;
    z-index: 10;
    background: black;
    width: 50px;
    height: 47px;
    display: flex;
    justify-content: center;
    right: 0;
  }
  .control-timer{
    width: 100%;
  }
  .daysAlert{
    display: flex;
  }
  .control-column-last{
    padding-bottom: 50px;
    border-top: 0px !important;
  }
  .control-column-last_4{
    border-top: 0px !important;
  }
  .sign_5-last,
  .img_5-last,
  .subsign_5-last{
    position: absolute;
    padding-top: 49px;
    display: block !important;
  }
  .img_5-last{
    width: 26px;
    height: auto !important;
    margin-left: 40px !important;
  }
  .sign_5-last{
    margin-left: 70px !important;
  }
  .subsign_5-last{
    margin-left: 115px !important;
    padding-top: 62px;
  }
  .control-level-title-last{
    position: static !important;
    top: inherit !important;
    justify-content: flex-start !important;
    border-bottom: 2px solid black;
  }
  .header-tabs-last{
    position: fixed;
    top: 49px;
    width: 100%;
    z-index: 10;
  }
  .control-wrapper-last{
    padding-top: 89px !important;
  }
  .control-large-levels-last{
    overflow-y: hidden !important;
    height: 100% !important;
    border-top: 50px solid #313E53;
  }
  .control-large-level-last{
    background: #202a35 !important;
  }

  .offPressButton{
    margin: 0px !important;
  }
  .header-desktop{
    display: none;
  }
  .header-mobile,
  .home-mobile-search
  {
    display: flex;
  }
  #header-desktop-search-input, #header-desktop-search-button{
    background: rgb(38, 38, 38);
    height: 40px;
  }
  .home-mobile-search{
    margin: 0px;
    border-top: 5px solid black;
    border-bottom: 4px solid black;
    margin-bottom: 0;
  }
  .control-after{
    display: none;
  }
  .level-content h6{
    display: none;
  }
  .control-level-title h6{
    display: none;
  }
  .resetmodal-window-wrapper{
    width: 100%;
  }
  .home-mobile-search{
    z-index: 0 !important;
  }
  .level-buttons button{
    width: 50px;
  }
  #typeDropdown{
    padding-left: 0px;
    padding-right: 0px;
  }
  .level-dropdowns{
    margin-left: 0;
    padding-right: 5px !important;
  }
  .level-dropdown{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
  .powerDropdown{
    margin-right: 0px;
  }
  .level-label-small{
    left: 2px !important;
  }
  .level-buttons{
    margin-left: 0px;
  }
  .paymodal-text .paymodal-buttons{
    display: none;
  }
  .paymodal-window-wrapper{
    width: 75%;
  }
  #betweenLamp{
    display: flex !important;
  }
  .header-tabs{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background: #000;
    height: 40px;
    font-size: 23px;
    -ms-align-items: baseline;
    align-items: baseline;
    padding: 0px 10px;
  }
  .header-tabs h5{
    text-decoration: underline;
    cursor: pointer;
    color: #4572C4;
  }
  .header-tabs span{
    color: white;
    margin: 0px 8px;
  }
  .tabActive{
    text-decoration: none !important;
    color: #ED7D32 !important;
    cursor: default !important;

  }
  .control{
    display: block;
    padding-top: 0px;
    padding-bottom: 40px;
  }
  .control-wrapper{
    padding-top: 145px;
  }
  .control-before,
  .control-after{
    width: 100%;
    border-right: 0px;
    border-left: 0px;
  }
  .control-level{
    border: 0px;
  }
  .home-mobile-search{
    position: fixed;
    width: 100%;
    z-index: 10;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  #tab_1_span,
  #tab_2_span,
  #tab_2_value,
  #tab_3_value
  {
    visibility: hidden;
  }
  .control-after{
    height: 0px;
  }
  .timer-title-last{
    border-top: 4px solid black !important;
  }
  .timer-title{
    z-index: 90;
  }
  .dropdown button{
    padding: 0px 2px;
  }

  }
  @media (min-width: 1400px) and (max-width: 2550px) {
    .timer-title-plus{
      position: absolute;
      right: 20px;
    }
    .timer-title:first-child{
      border-bottom: 4px solid black;
      padding-bottom: 12px;
    }
  }
  @media (min-width: 1600px) and (max-width: 2550px) {
    .level-dropdown{
      width: auto;
    }
  }
