textarea,
input[type="text"],
input[type="button"],
input[type="submit"],nav {
     -webkit-appearance: none;
     border-radius: 0;
}
.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}
.loader-2 .loader-star {
    position: static;
    width: 60px;
    height: 60px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation: loader-2-star 1s ease alternate infinite;
    animation: loader-2-star 1s ease alternate infinite;
    }
.loader-2 .loader-circles {
    width: 8px;
    height: 8px;
    background: #66E6E0;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: loader-2-circles 1s ease-in-out alternate infinite;
    animation: loader-2-circles 1s ease-in-out alternate infinite;
    }
@-webkit-keyframes loader-2-circles {
    0% {
        -webkit-box-shadow: 0 0 0 #66E6E0;
        box-shadow: 0 0 0 #66E6E0;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-box-shadow: 24px -22px #66E6E0, 30px -15px 0 -3px #66E6E0, 31px 0px #66E6E0, 29px 9px 0 -3px #66E6E0, 24px 23px #66E6E0, 17px 30px 0 -3px #66E6E0, 0px 33px #66E6E0, -10px 28px 0 -3px #66E6E0, -24px 22px #66E6E0, -29px 14px 0 -3px #66E6E0, -31px -3px #66E6E0, -30px -11px 0 -3px #66E6E0, -20px -25px #66E6E0, -12px -30px 0 -3px #66E6E0, 5px -29px #66E6E0, 13px -25px 0 -3px #66E6E0;
        box-shadow: 24px -22px #66E6E0, 30px -15px 0 -3px #66E6E0, 31px 0px #66E6E0, 29px 9px 0 -3px #66E6E0, 24px 23px #66E6E0, 17px 30px 0 -3px #66E6E0, 0px 33px #66E6E0, -10px 28px 0 -3px #66E6E0, -24px 22px #66E6E0, -29px 14px 0 -3px #66E6E0, -31px -3px #66E6E0, -30px -11px 0 -3px #66E6E0, -20px -25px #66E6E0, -12px -30px 0 -3px #66E6E0, 5px -29px #66E6E0, 13px -25px 0 -3px #66E6E0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        }
    100%{
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-box-shadow: 25px -22px #66E6E0, 15px -22px 0 -3px black, 31px 2px #66E6E0, 21px 2px 0 -3px black, 23px 25px #66E6E0, 13px 25px 0 -3px black, 0px 33px #66E6E0, -10px 33px 0 -3px black, -26px 24px #66E6E0, -19px 17px 0 -3px black, -32px 0px #66E6E0, -23px 0px 0 -3px black, -25px -23px #66E6E0, -16px -23px 0 -3px black, 0px -31px #66E6E0, -2px -23px 0 -3px black;
        box-shadow: 25px -22px #66E6E0, 15px -22px 0 -3px black, 31px 2px #66E6E0, 21px 2px 0 -3px black, 23px 25px #66E6E0, 13px 25px 0 -3px black, 0px 33px #66E6E0, -10px 33px 0 -3px black, -26px 24px #66E6E0, -19px 17px 0 -3px black, -32px 0px #66E6E0, -23px 0px 0 -3px black, -25px -23px #66E6E0, -16px -23px 0 -3px black, 0px -31px #66E6E0, -2px -23px 0 -3px black;
        }
    }
@keyframes loader-2-circles{
    0%{
      -webkit-box-shadow: 0 0 0 #66E6E0;
      box-shadow: 0 0 0 #66E6E0;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50%{
      -webkit-box-shadow: 24px -22px #66E6E0, 30px -15px 0 -3px #66E6E0, 31px 0px #66E6E0, 29px 9px 0 -3px #66E6E0, 24px 23px #66E6E0, 17px 30px 0 -3px #66E6E0, 0px 33px #66E6E0, -10px 28px 0 -3px #66E6E0, -24px 22px #66E6E0, -29px 14px 0 -3px #66E6E0, -31px -3px #e11a2b, -30px -11px 0 -3px #66E6E0, -20px -25px #66E6E0, -12px -30px 0 -3px #66E6E0, 5px -29px #66E6E0, 13px -25px 0 -3px #66E6E0;
      box-shadow: 24px -22px #66E6E0, 30px -15px 0 -3px #66E6E0, 31px 0px #66E6E0, 29px 9px 0 -3px #66E6E0, 24px 23px #66E6E0, 17px 30px 0 -3px #66E6E0, 0px 33px #66E6E0, -10px 28px 0 -3px #66E6E0, -24px 22px #66E6E0, -29px 14px 0 -3px #66E6E0, -31px -3px #66E6E0, -30px -11px 0 -3px #66E6E0, -20px -25px #66E6E0, -12px -30px 0 -3px #66E6E0, 5px -29px #66E6E0, 13px -25px 0 -3px #66E6E0;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100%{
      opacity: 0;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-box-shadow: 25px -22px #66E6E0, 15px -22px 0 -3px black, 31px 2px #66E6E0, 21px 2px 0 -3px black, 23px 25px #66E6E0, 13px 25px 0 -3px black, 0px 33px #66E6E0, -10px 33px 0 -3px black, -26px 24px #66E6E0, -19px 17px 0 -3px black, -32px 0px #66E6E0, -23px 0px 0 -3px black, -25px -23px #66E6E0, -16px -23px 0 -3px black, 0px -31px #66E6E0, -2px -23px 0 -3px black;
      box-shadow: 25px -22px #66E6E0, 15px -22px 0 -3px black, 31px 2px #66E6E0, 21px 2px 0 -3px black, 23px 25px #66E6E0, 13px 25px 0 -3px black, 0px 33px #66E6E0, -10px 33px 0 -3px black, -26px 24px #66E6E0, -19px 17px 0 -3px black, -32px 0px #66E6E0, -23px 0px 0 -3px black, -25px -23px #66E6E0, -16px -23px 0 -3px black, 0px -31px #66E6E0, -2px -23px 0 -3px black;
    }
}

@-webkit-keyframes loader-2-star{
    0%{
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100%{
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}

@keyframes loader-2-star{
    0%{
        -webkit-transform: scale(0) rotate(0deg);
        transform: scale(0) rotate(0deg);
    }
    100%{
        -webkit-transform: scale(0.7) rotate(360deg);
        transform: scale(0.7) rotate(360deg);
    }
}
html {
  scroll-behavior: smooth;
}
a{
  color: inherit !important;
  text-decoration: none;
}
a:hover{
  text-decoration:none!important;
}
h6{
  padding-top: 10px;
  cursor: pointer;
}
button,input:focus{
   outline: none !important;
}
input:active {
    color: #fff !important;
    background-color: transparent !important;
    border-color: rgb(38, 42, 52) !important;
    box-shadow: none !important;
 }
 html,body{
   overflow-x: hidden !important;
 }
@font-face {
  font-family: "bree_serif";
  src: url(fonts/bree-serif-regular.ttf);
}
/* Very Large Displays */
@media (min-width:2300px) and (max-width: 5000px) {
  .main_text{
    margin-top: 5% !important;
  }
}
@media (min-width:1466px) and (max-width: 1831px){
  #selector_five{
    margin-left: 100%
  }
  #selector_six{
    margin-left: 100%;
  }
}
@media (min-width:1832px) and (max-width: 2197px){
  #selector_six{
    margin-left: 200%;
  }
}
@media (min-width:2400px) and (max-width:4000px) {
  .portfolio_grid_selection{
    margin-left: 2%;
  }
}
/* Medium Displays */
@media (min-width:921px) and (max-width:1315px){
  .main_text{
    left: 58% !important;
  }
  #man_img{
    left: 10% !important;
  }
  .about_content{
    background-image: url("Imgs/about_background_clear.png") !important;
  }
}
@media (min-width: 649px) and (max-width: 974px){
  #last_team_selector{
    margin-left: 100%;
  }
}
/* Medium-Small Displays */
@media (min-width: 660px) and (max-width: 920px) {
  #man_img{
    opacity: 0.2;
    left: 0% !important;
  }
  .main_text{
    left: 40% !important;
  }
  #navbarToggleExternalContent{
     margin-left: -30px;
  }
  #man_img{
    top: 18% !important;
  }
  .background_selection {
    height: 575px !important;
  }
  .about_content{
    background-image: url("Imgs/about_background_clear.png") !important;
  }
  .quote_content{
    background-image: url("Imgs/quote_background.png") !important;
  }
  .quote_message_wrapper::before{
    display: none;
  }
}
@media (min-width:660px) and (max-width:879px) {
  #last_square_selector{
    margin-left: 200%;
  }
}
@media (min-width:501px) and (max-width: 659px) {
  .main_text{
    left: 20% !important;
    top: 15%;
  }
  #man_img{
    opacity: 0.2;
    left: 0% !important;
  }
  #navbarToggleExternalContent{
     margin-left: -45px;
  }
  #facebook_ico,#twitter_ico,#linkedin_ico{
    display: none;
  }
  #navbarToggleExternalContent{
    margin-left: -80px;
  }
  #man_img{
    top: 30% !important;
  }
  .content{
    height: 115px !important;
  }
  .about_content{
    padding-left: 15% !important;
  }
  .quote_content{
    background-image: url("Imgs/quote_background.png") !important;
  }
  .quote_message_wrapper::before{
    display: none;
  }
}
/* Small Displays */
@media (min-width: 405px) and (max-width: 500px) {
  #man_img{
    z-index: 0 !important;
    left: 12% !important;
    opacity: 0.2;
  }
  .main_text{
    left: 6% !important;
    margin-top: 30% !important;
  }
  #facebook_ico,#twitter_ico,#linkedin_ico{
    display: none;
  }
  #navbarToggleExternalContent{
    margin-left: -80px;
  }
  .about_content{
    padding-left: 4% !important;
  }
  .quote_content{
    background-image: url("Imgs/quote_background.png") !important;
  }
  .quote_message_wrapper::before{
    display: none;
  }
  .quote_message{
    height: 230px !important;
    padding-left: 90px !important;
    padding-top: 45px !important;
    padding-right: 50px !important;
  }
  .quote_message::after{
    float: right;
  }
}
@media (min-width: 405px) and (max-width: 500px) and (min-height:190px) and (max-height:680px) {
    #man_img{
      top: 30% !important;
    }
}
@media (min-width: 390px) and (max-width: 404px) {
  #man_img{
    z-index: 0 !important;
    left: 12% !important;
    opacity: 0.2;
  }
  .main_text{
    left: 2% !important;
    margin-top: 30% !important;
  }
  #facebook_ico,#twitter_ico,#linkedin_ico{
    display: none;
  }
  #navbarToggleExternalContent{
    margin-left: -80px;
  }
  .about_content{
    padding-left: 4% !important;
  }
  .quote_content{
    background-image: url("Imgs/quote_background.png") !important;
  }
  .quote_message_wrapper::before{
    display: none;
  }
  .quote_message{
    height: 230px !important;
    padding-left: 66px !important;
    padding-right: 50px !important;
  }
  .quote_message::after{
    margin-left: 250px !important;
    margin-top: -13px !important;
  }
}
/* Tiny Displays */
@media (min-width: 180px) and (max-width:389px) {
  #man_img{
    z-index: 0 !important;
    left: 12% !important;
    opacity: 0.2;
    top: 18% !important;
  }
  .main_text{
    left: 2% !important;
    margin-top: 30% !important;
  }
  #facebook_ico,#twitter_ico,#linkedin_ico{
    display: none;
  }
  #navbarToggleExternalContent{
    margin-left: -80px;
  }
  .text_main_section_big {
    font-size: 16.5vw !important;
  }
  .text_main_section {
    font-size: 29px !important;
  }
  .about_content{
    padding-left: 2% !important;
  }
  .text_main_section_small_grey{
    font-size: 12px !important;
  }
  .quote_content{
    background-image: url("Imgs/quote_background.png") !important;
  }
  .quote_message_wrapper::before{
    display: none;
  }
  .quote_content{
    height: 675px !important;
  }
  .quote_message{
    height: 230px !important;
    padding-left: 66px !important;
    padding-right: 50px !important;
  }
  .quote_message::after{
    margin-left: 220px !important;
    margin-top: -27px !important;
  }
}
@media (min-height: 100px) and (max-height: 405px)  {
  .pos-f-t{
    position: absolute !important;
  }
}
@media (min-width: 50px) and (max-width: 483px) {
  .footer{
    height: 630px !important;
  }
}
.text_main_section_big{
  font-family: bree_serif;
  color: rgb(61, 61, 65);
  font-size: 65px;
  margin: 0;
  text-transform: uppercase;
}
.text_main_section_big_white{
  font-family: bree_serif;
  color: white;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}
.text_footer_white{
  font-family: bree_serif;
  color: white;
  display: inline;
  font-weight: 600;
  font-size: 10px;
}
.text_footer_blue{
  font-family: bree_serif;
  display: inline;
  color: rgb(104, 230, 224);
  font-weight: 600;
  font-size: 10px;
}
.text_main_section_medium{
  font-family: bree_serif;
  color: rgb(51, 51, 51);
  font-size: 38px;
  text-align: center;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.text_main_section_medium_white{
  font-family: bree_serif;
  color: white;
  font-size: 35px;
  text-align: left;
  font-size: 100;
  text-transform: uppercase;
}
.text_main_section{
  font-family: bree_serif;
  color: rgb(61, 61, 65);
  font-size: 34px;
  margin-top: -20px;
  text-transform: uppercase;
}
.text_main_section_small{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgb(61, 61, 65);
  font-weight: 500;
  margin-bottom: 5px;
}
.text_main_section_small_grey{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: rgb(150, 149, 149);
  font-weight: 300;
  text-align: center;
}
.text_main_section_small_grey_custom{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: black;
  font-size: 12px;
}
.text_main_section_small_custom{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: rgb(170, 170, 170);
  font-weight: 400;
  text-align: center;
  margin: 3px;
}
.text_main_section_small_white{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 12.5px;
  max-width: 440px;
  text-align: left;
  color: white;
}
.text_main_section_small_black{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: rgb(100, 100, 100);
  font-weight: 500;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 3%;
}
.background_selection{
  position: relative;
  background-color: rgb(102, 230, 224);
  height: 600px;
}
.background_selection_custom{
  -webkit-clip-path: polygon(0 0, 51% 0, 25% 100%, 0% 100%);
  clip-path: polygon(0 0, 51% 0, 25% 100%, 0% 100%);
  background-color: rgb(249, 249, 249);
  height: 600px;
}
#logo_img{
  margin-top: 25px;
  margin-left: 20%;
  cursor: pointer;
  position: absolute;
  float: left;
}
#man_img{
  position: absolute;
  left: 17%;
  top: 16%;
  z-index: 1;
}
.content{
  z-index: 3;
  background-color: white;
  position: relative;
  height: 80px;
}
.icon{
  width: 20px;
  height: 17px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.icon:hover,#facebook_ico:hover{
  transform: scale(1.3);
}
#facebook_ico{
  margin-top: -2px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.contact_inline_icons{
  float: right;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  margin-top: 25px;
  margin-right: 25%;
  grid-column-gap: 20px;
}
.contact_inline_footer_icons{
  display: grid;
  grid-template-columns: 25px 25px 25px;
  margin-top: 35px;
  justify-content: center;
  grid-column-gap: 20px;
}
.inline_contact{
  display: grid;
  grid-template-columns: 80px 45px;
  float: right;
  margin-top: 25px;
  margin-right: 15%;
  grid-column-gap: 60px;
}
#nav_ico{
  margin-bottom: -75%;
}
#navbarToggleExternalContent{
  padding-right: 170px;
  background-color: rgba(184, 243, 240, 0.83);
}
.text-white{
  text-decoration: underline;
}
.nav_menu{
  z-index: 20;
}
.main_text{
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-top: 10%;
  margin-right: 25%;
  margin-right: 20px;
}
#letsrock_button, #subscribe_button, #getitnow_button{
  width: 110px;
  height: 35px;
}
#send_button{
  width: 110px;
  height: 40px;
  color: white;
  margin-right: 15px;
  background-color: rgb(104, 230, 224);
  border: 2px solid rgb(104, 230, 224);
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 11px;
}
#letsrock_button{
  color: white;
  background-color: rgb(38, 42, 52);
  border-color: rgb(38, 42, 52);
  border-width: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
#subscribe_button{
  color: white;
  background-color: inherit;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
#getitnow_button{
  color: white;
  background-color: rgb(104, 230, 224);
  border: 2px solid rgb(104, 230, 224);
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 11px;
  margin-top: 5%;
}
#getitnow_button:active,#send_button:active{
  border: 2px solid white !important;
}
#subscribe_button:hover,#letsrock_button:hover,#getitnow_button:hover,#send_button:hover{
  transform: scale(1.1);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg) scale(1.1);;
}
.main_buttons{
  margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  display: grid;
  grid-template-columns: 125px 125px;
}
.nav_menu{
  white-space: nowrap;
}
h6{
  display: inline-grid;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 3px;
}
h6:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(38, 42, 52);;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.17s;
  transition-duration: 0.17s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
h6:hover:before, h6:focus:before, h6:active:before {
  left: 0;
  right: 0;
}
#triple_line{
  margin-left: 49%;
  margin-bottom: 10px;
  width: 40px;
}
.grid_selectons{
  display: grid;
  margin-top: 7%;
  margin-bottom: 7%;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  grid-row-gap: 10px;
}
.square_selector{
  width: 200px;
  height: 260px;
  justify-self: center;
  cursor: pointer;
}
.square_selector:hover{
  -webkit-box-shadow: 0px 6px 56px -7px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 6px 56px -7px rgba(0,0,0,0.34);
  box-shadow: 0px 6px 56px -7px rgba(0,0,0,0.34);
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
}
.square_selector:hover .vertical_selector img{
  background-color:rgb(89, 209, 202);
  border: none;
  filter: contrast(125%);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
}
.vertical_selector{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.select_ico{
  border: 1px solid rgb(241, 241, 241);
  border-radius: 40%;
  padding-top:11%;
  padding-bottom:11%;
  padding-right: 6%;
  padding-left: 6%;
}
#interface_ico{
  padding-left: 7%;
  padding-right: 7%;
}
#setup_ico{
  padding-left: 7%;
  padding-right: 7%;
}
.about_content{
  background-image: url("Imgs/about_background.png");
  background-size: cover;
  height: 620px;
  margin-bottom: 7%;
  padding-left: 20%;
}
.about_text_section{
  display: grid;
  padding-top: 200px;
}
.choose_grid_section{
  display: grid;
  grid-template-columns: 55px 90px 90px 97px;
  justify-content: center;
  grid-column-gap: 5px;
  padding-top: 5%;
  padding-bottom: 3%;
}
.choose_button{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
  font-size: 10px;
  font-weight: 400;
  width: 90px;
  height: 30px;
  border: 2px solid rgb(230, 230, 230);
  cursor: pointer;
}
.choose_button:hover{
  background-color: rgb(104, 230, 224);
  border: 2px solid rgb(104, 230, 224);
  color: white;
}
.choose_button:active{
  border: 2px solid rgb(104, 230, 224) !important;
  color: rgb(104, 230, 224) !important;
}
#all_button{
  justify-self: self-end;
  width: 55px !important;
}
.portfolio_grid_selection{
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  grid-row-gap: 5px;
  justify-content: center;
}
.portfolio_selector{
  width: 310px;
  height: 188px;
  background-size: cover !important;
  cursor: pointer;
}
.portfolio_selector:hover{
  background-position: 0 -188px !important;
  opacity: 0.6;
}
#selector_one{
  background: url("Imgs/1_select.png");
}
#selector_two{
  background: url("Imgs/2_select.png");
}
#selector_three{
  background: url("Imgs/3_select.png");
}
#selector_four{
  background: url("Imgs/4_select.png");
}
#selector_five{
  background: url("Imgs/5_select.png");
}
#selector_six{
  background: url("Imgs/6_select.png");
}
.portfolio_wrapper{
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 9%;
}
.quote_content{
  height: 600px;
  background-image: url("Imgs/quote_custom_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.quote_text{
  padding-top: 130px;
}
.quote_message{
  height: 175px;
  background-color: white;
  width: 500px;
  padding-left: 80px;
  padding-top: 20px;
  border-radius: 10px;
}
.quote_message p{
  text-align: left !important;
}
.quote_message::before{
  content:url("Imgs/Icons/quote.png");
  margin-left: -40px;
}
.quote_message::after{
  content:url("Imgs/Icons/quote_reverse.png");
  margin-left: 365px;
  display: flex;
  margin-top: -35px;
}
.quote_message_wrapper::before{
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 25px solid white;
  border-bottom: 12px solid transparent;
  margin-left: -262px;
  margin-top: 75px;
  position: absolute;
}
.quote_message_wrapper{
  display: flex;
  justify-content: center;
  padding-top: 4%;
  z-index: 3;
}
.team_content{
  margin-bottom: 60px;
}
.team_text{
  margin-top: 5%;
  margin-bottom: 5%;
}
.team_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
}
.team_selector{
  height: 455px;
  width: 300px;
  margin-bottom: 25px;
  border: 0.5px solid rgb(241, 241, 241);
  position: relative;
  justify-self: center;
}
.vertical_team_selector p{
  padding-top: 20px !important;
}
.vertical_team_selector h4{
  font-weight: 300 !important;
}
.vertical_team_selector hr{
  width: 85%;
}
#team_one, #team_two, #team_three{
  width: 299px;
}
  .team_contact_grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 15px 15px 15px;
    grid-column-gap: 20px;
  }
  .team_contact_grid img{
    border: 0.5px solid rgb(241, 241, 241);
    padding: 5px;
    border-radius: 50%;
    width: 25px;
}
.team_contact_grid img:hover{
  background-color:rgb(89, 209, 202);
  border: none;
  filter: contrast(125%);
  cursor: pointer;
}
.pos-f-t{
  position: fixed;
}
.footer{
  height: 600px;
  background-color: rgb(37, 42, 52);
}
.joinus_content{
  text-align: center;
  padding-top: 100px;
}
.joinus_text p{
  font-weight: 500;
}
.joinus_text h1{
  padding-bottom: 20px;
}
.joinus_input{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
#joinus_input{
  height: 40px;
  width: 350px;
  border: 0px;
  background: rgb(80, 85, 93);
  text-indent: 20px;
  color: white;
  font-size: 12px;
  margin-right: 15px;
  margin-left: 15px;
}
#joinus_input:active{
  background: rgb(80, 85, 93) !important;
}
#joinus_input::placeholder{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  text-indent: 20px;
}
#joinus_input:-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  text-indent: 20px;
}
#joinus_input::-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  text-indent: 20px;
}
#logo_footer_img{
  width: 55px;
  cursor: pointer;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
}
#logo_footer_img:hover{
  transform: scale(1.1);
}
.footer_inline_text{
  padding-top: 10px;
}
.contact_footer{
  margin-top: 110px;
}
#facebook_footer_ico:hover{
  transform: scale(1.3);
}
#facebook_footer_ico{
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
